@{
    ViewBag.title = "find us";

}
<div class="row">
    <div class="col-md-6">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d26460.520982454174!2d-6.853944301207718!3d34.00370228004479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1semsi!5e0!3m2!1sen!2s!4v1451836978710" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 " >

        <ul>
            <li>
                <address>
                    <strong>
                        EMSI HASSAN (2,2)<br>
                        Rue Patrice lumumba<br>
                        Rabat<br>
                        MAROC
                    </strong>
                </address>
            </li>
            <hr />
            <li>
                <address>
                    <strong>
                        EMSI HASSAN 3<br>
                        Avenue abdelmoumen<br>
                        Rabat<br>
                        MAROC
                    </strong>
                </address>
            </li>
            <hr /> 

            <li>
                <address>
                    <strong>
                        EMSI agdal<br>
                        AV OMAR ibnou kharrab<br>
                        Rabat<br>
                        MAROC
                    </strong>
                </address>
            </li>
        </ul>

    </div>

</div>
<hr />
