
@{
    ViewBag.Title = "Home";
    
}
<div class="container-fluid">
    <div class="row"id="cont">


        <div class="row">
            <div class="col-md-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:800px;height:290px;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/emsi1.jpg" alt="emsi1" style="width:800px;height:290px;">
                        </div>

                        <div class="item">
                            <img src="~/Content/emsi2.jpg" alt="emsi2" style="width:800px;height:290px;">
                        </div>

                        <div class="item">
                            <img src="~/Content/emsi.3.png" alt="emsi3" style="width:800px;height:290px;">
                        </div>
                    </div>
                   
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <hr />
                <br />
                <div class="col-md-4">
                    <div class="thumbnail" style="width:200px;height:400px" ;>
                        <img alt="Bootstrap Thumbnail First" style="width:70px;height:100px" ; src="https://upload.wikimedia.org/wikipedia/en/1/1b/The50thLawBook.jpg" />
                        <div class="caption">
                            <h3>
                                50th LAW
                            </h3>
                            <p>
                                the 50th law , after the 48 laws of power 50 cent the rapper wrote this book with robert green to talk about two laws who made him who he is now , richest rapper in the states.
                            </p>
                            <p>
                                <br />
                                <a class="btn btn-primary" href="#">LEND IT !</a>
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="width:200px;height:400px" ;>

                            <img alt="Bootstrap Thumbnail Second" style="width:70px;height:100px" ; src="http://www.namastepublishing.com/sites/default/files/imagecache/product_full/9780968236406.jpg" />
                            <div class="caption">
                                <h3>
                                    POWER OF NOW
                                </h3>
                                <p>
                                    eckart tolle illustrate the power of in our daily life and how we let the present moment slip through our fingers and we focus on the future which keeps us afraid
                                </p>
                                <p>
                                    <a class="btn btn-primary" ; href="#">LEND IT !</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" style="width:200px;height:400px" ;>
                            <img alt="Bootstrap Thumbnail Third" style="width:70px;height:100px" ; src="http://ecx.images-amazon.com/images/I/51a1RPCmv7L._SX258_BO1,204,203,200_.jpg" />
                            <div class="caption">
                                <h3>
                                    JAVA HEAD FIRST
                                </h3>
                                <p>
                                    Java head first is a book about the java programming language...
                                </p>
                                <br /> <br /> <br /><br />
                                <p>
                                    <a class="btn btn-primary" href="#">LEND IT !</a>
                                </p>
                            </div>
                        </div>
                    </div>
                <div style="border-right:1px solid #c9c1c1;height:500px"></div>
                </div>
           

            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        LATEST BOOKS
                    </a>
                    <a href="#" class="list-group-item">java</a>
                    <a href="#" class="list-group-item">UML</a>
                    <a href="#" class="list-group-item">artificiel inteli</a>
                    <a href="#" class="list-group-item">marketing</a>
                </div>
            </div>
        </div>


    </div>
</div>